/**
    general styles
**/

*{
  box-sizing: border-box;
}

.bg-blue-var{
  background: #0090FF;
  color: #fff;
}

.bg-white{
  background: #fff;
  color:  #0090FF;
}

.hidden{
  display: none;
}

.error-ctr{
  text-align: center;
  color: rgb(245, 89, 89);
}

.tab{
  cursor: pointer;
}

.tab span{
  padding: 4px 12px;
  border: 1px solid #016bbd;
  box-shadow: 2px 2px 10px #016bbd;
}



/**
  top containers style
*/
body{
  margin: 0;
}

.container{
  width: 400px;
  min-height: 90vh;
  margin: 4.9vh auto;
  box-shadow: 10px 10px 16px #d6d6d6;
  border: 1px solid rgba(0, 144, 255, 0.4);
  border-radius: 8px;
}

.row{
  width: 100%;
  padding: 12px 0;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

/**
  header section
**/

header{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.hdr-ctr{
  margin: 0px auto;
  padding: 18px 0;
  text-align: center;
}

.col-2{
  width: 50%;
}

.title-lft, .title-rt{
  margin: 18px 12px;
}
.title-lft{
  text-align: left;
}
.title-rt{
  text-align: right;
}

/**
  table section
**/

.table-wrp{
  width: 100%;
}

.table-blck{
  width: 100%;
}

.table-blck>div, .btn-tab{
  width: 380px;
  margin: 12px auto;
  padding: 12px;
  border: 1px solid rgba(0, 144, 255, 0.5);
  overflow-x: hidden;
}

.table-blck>div:hover, .btn-tab:hover{
  box-shadow: 10px 10px 18px #d6d6d6;
}

.table-blck>div>p{
  width: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
  margin: 8px 0;
}

.table-blck>div>p>button{
  border: none;
  outline: none;
  margin: 12px 8px;
  padding: 4px 10px;
}

.frm-blck{
  width: 100%;
  margin: 0;
  padding: 12px 8px;
}

.frm-wrp{
  width: 100%;
  margin: 18px 0;
}

.frm-wrp input{
  border: none;
  outline: none;
  width: 100%;
  line-height: 1.5;
  padding: 16px;
  background-color: #f1f1f1;
  color: #000000;
  border-radius: 8px;
}

.card-block{
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button.frm-btn{
  width: 48%;
  padding: 14px;
  outline: none;
  border: none;
  border-radius: 2px;
}

@media only screen and (max-width: 500px){
  .container{
    width: 96%;
    min-height: 90vh;
    margin: 10px auto 20px;
  }

}

@media only screen and (max-width: 400px){
  .table-blck>div, .btn-tab{
    max-width: 300px;
  }

  .table-blck>div>p>button{
    margin: 12px 8px;
  }
}